Md. Irfan Hossain, Senior Program Officer, Data Analyst, GIRL Center, Population Council

#### Import required libraries and packages

In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import pandas as pd

#### Read data file as dataframe

In [2]:
df = pd.read_csv("audi.csv")

display(df.head(10))
print(df.shape)

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0
5    A1  2016  13900    Automatic    32260   Petrol   30  58.9         1.4
6    A6  2016  13250    Automatic    76788   Diesel   30  61.4         2.0
7    A4  2016  11750       Manual    75185   Diesel   20  70.6         2.0
8    A3  2015  10200       Manual    46112   Petrol   20  60.1         1.4
9    A1  2016  12000       Manual    22451   Petrol   30  55.4         1.4

(10668, 9)

#### Detecting the numeric features

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10668 non-null  object
 1   year          10668 non-null  int64
 2   price         10668 non-null  int64
 3   transmission  10668 non-null  object
 4   mileage       10668 non-null  int64
 5   fuelType      10668 non-null  object
 6   tax           10668 non-null  int64
 7   mpg           10668 non-null  float64
 8   engineSize    10668 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 750.2+ KB

In [4]:
print(df.columns)

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize'],
      dtype='object')

#### Separating the numeric features and target variable

In [5]:
features = ['year', 'mileage', 'tax', 'mpg', 'engineSize']
target = ['price']

X = df[features]
y = df[target]

print(X.shape, y.shape)

(10668, 5) (10668, 1)

#### Spliting the original dataset into the train set (80%) and the test set (20%)

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(8534, 5) (2134, 5) (8534, 1) (2134, 1)

#### Performing Linear Regression

In [7]:
model = LinearRegression()
model = model.fit(X_train, y_train)

#### Predicting the 'Price' from the test set

In [8]:
y_pred = model.predict(X_test)
print(y_pred)

[[ 8745.08843655]
 [ 1603.78269133]
 [31795.56694294]
 ...
 [14863.76915344]
 [32226.54686985]
 [48291.34166661]]

#### Preliminary comparing with original price values of test set

In [9]:
display(y_test.head(3))
print(y_test.shape)

      price
7439   9995
9632   6790
1131  32500

(2134, 1)

#### Calculating RMSE value from the actual test data and the predicted data

In [10]:
RMSE = mean_squared_error(y_test, y_pred, squared=False)
print(RMSE)

5694.210362957305